<%- include('layout/header', {title : "Enzago - Not Found"}) %>
<div style="text-align: center; padding-top: 2cm;">
    <h1>
        404 : Anda salah alamat
    </h1>
</div>

<%- include('layout/footer') %>