<%- include('layout/header', {title : "Checkout"}) %>
<section>
  <div class="kolom">
    <p class="deskripsi">Thanks for your payment!</p>
    <h2>Your payment of Rp. <%= total %> has been processed</h2>
    <p></p>
    <p><a href="/" class="tbl-pink">Return</a></p>
  </div>
</section>
<%- include('layout/footer') %>