<%- include('layout/header', {title : "Enzoga"}) %>
<section>
  <img src="UNIQLO-U-Fall-Winter-2020-Mens-Collection-630x350.jpg"/>
  <div class="kolom">
      <p class="deskripsi">New Item Is Coming</p>
      <h2>For Men </h2>
      <p></p>
      <p><a href="/pria" class="tbl-pink">Informasi Barang</a></p>
  </div>
</section>
<section>
  <img src="wanita halaman depan.jpg"/>
  <div class="kolom">
      <p class="deskripsi">New Item Is Coming</p>
      <h2>For Women </h2>
      <p></p>
      <p><a href="/wanita" class="tbl-pink">Informasi Barang</a></p>
  </div>
</section>
<section>
  <img src="anak3.jpg"/>
  <div class="kolom">
      <p class="deskripsi">New Item Is Coming</p>
      <h2>For Kids </h2>
      <p></p>
      <p><a href="/anak" class="tbl-pink">Informasi Barang</a></p>
  </div>
</section>
<section>
  <img src="tas.jpg"/>
  <div class="kolom">
      <p class="deskripsi">New Item Is Coming</p>
      <h2> Cool Aksesoris  </h2>
      <p></p>
      <p><a href="/aksesoris" class="tbl-pink">Informasi Barang</a></p>
  </div>
</section>
<%- include('layout/footer') %>