<section id="aboutus">            
    <div class="kolom">
        <h2>About Us</h2>
        <p class="deskripsi">Toko online yang didirikan oleh para mahasiswa yang berjuang.</p>
        <p>Kevin Sundriansyah – 535180130</p>
        <p>Jeremy Leonardo Hizkia – 535200077</p>
        <p>Jeremy Reinhart – 535200083</p>
        <p>Ignasius alfon hanjuk edang - 535200086</p>
        <p>Nicko Kurniawan - 535200065</p>
        <p>Ruben Eliezer - 535200081</p>
    </div>
</section>
<div id="contact">
    <div class="wrapper">
        <div class="footer">
            <div class="footer-section">
                <h3>Contact</h3>
                <p>Jl. Astronomi 1 No.23 Jakarta, Indonesia 15639</p>
                <p>enzogaclothing@gmail.com</p>
                <p>(0361) 4567890 </p>
            </div>                  
        </div>
    </div>
</div>

<div id="copyright">
    <div class="wrapper">
        &copy; 2020. <b>Enzoga.store.</b> All Rights Reserved.
    </div>
</div>   
</body>
</html>